// Extended card settings
$card-meta-color : $dark-gray;
$card-meta-font-size : $small-font-size;

// Scroll button
$scroll-button-color : $primary-color;

// List
$list-border-color : $medium-gray !default;
