
@mixin button-group-radius {
    &:first-child {
        border-top-right-radius    : 0;
        border-bottom-right-radius : 0;
    }
    &:not(:first-child):not(:last-child) {
        border-radius : 0;
    }
    &:last-child {
        border-top-left-radius    : 0;
        border-bottom-left-radius : 0;
    }
}

.button-group {
    &.radius {
        > .button {
            //@extend .button.radius;
            @include button-group-radius();
        }
    }
    &.square {
        > .button {
            //@extend .button.square;
        }
    }
    &.round {
        > .button {
            //@extend .button.round;
            @include button-group-radius();
        }
    }
}